@charset "UTF -8 " ;
*{margin: 0; padding: 0;}

.notice{
    position: fixed;
    top: 400px; left:50px;
    padding: 40px;
    background:url(img/notice.png)no-repeat;
    background-size:cover;
    width: 250px; height: 250px;
    z-index: 200;
    border: 2px solid #fff;
}
.notice span{
    display: block;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
    color: #f8efef;
 
   
}
.notice p{
    display: block;
    margin: 30px auto;
    text-align: center;
    font-size: 14px;
    color: aliceblue;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 300;
}
.notice .close{
    position: absolute;
    color: #f8efef;
    top:0; right: 0;
    margin: 3px 15px;
    text-decoration: none;
    font-size: 25px;
}

.notice input,
.notice label{
   position: absolute;
   top: 70%;
 
}
.notice label{
    left: 120px;
    color: #f8efef;
}
.notice input{
    left: 100px;
    width: 15px;
    height: 27px;
}